<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App-A-Tizer</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
</head>

<body>
  <header>
    <h1>App-A-Tizer</h1>
    <nav>
      {{#if loggedIn}}
      <a href="/search">Search</a>
      <a href="/new">Add Recipe</a>
      <a href="/saved">Saved Recipes</a>
      <a href="/">Meal Planner</a>
      <a href="/">Logout</a>
      {{else}}
      <a href="/login">LogIn</a>
      {{/if}}
    </nav>
  </header>
  <main>

    {{!-- THIS DIV IS WHERE EVERY PAGE WILL RENDER AND NEEDS TO FLEX --}}
    <div> 
      {{{body}}}
    </div>

  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}  
</body>

</html>