{{!-- THIS WILL BE WHERE THE MAIN USER HOMEPAGE IS LOCATED --}}
<div class="grid-container">
  <div>
    <h2>
      M<span>on<span>day</span></span>
    </h2>
    {{!-- <button class="add-button">+</button> --}}
    <div class="meal" id="monday-1">
      <button class="add-button">+</button>
    </div>
    <div class="meal" id="monday-2">
      <button class="add-button">+</button>
    </div>
    <div class="meal" id="monday-3">
      <button class="add-button">+</button>
    </div>
  </div>
  <div>
    <h2>T<span>ue</span><span>sday</span></h2>
    <div class="meal" id="tuesday-1">
      <button class="add-button">+</button>
    </div>
    <div class="meal" id="tuesday-2">
      <button class="add-button">+</button>
    </div>
    <div class="meal" id="tuesday-3">
      <button class="add-button">+</button>
    </div>
  </div>
  <div>
    <h2>W<span>ed</span><span>nesday</span></h2>
    <div class="meal" id="wednesday-1">
      <button class="add-button">+</button>
    </div>
    <div class="meal" id="wednesday-2">
      <button class="add-button">+</button>
    </div>
    <div class="meal" id="wednesday-3">
      <button class="add-button">+</button>
    </div>
  </div>
  <div>
    <h2>Th<span>u</span><span>rsday</span></h2>
    <div class="meal" id="thursday-1">
      <button class="add-button">+</button>
    </div>
    <div class="meal" id="thursday-2">
      <button class="add-button">+</button>
    </div>
    <div class="meal" id="thursday-3">
      <button class="add-button">+</button>
    </div>
  </div>
  <div>
    <h2>F<span>ri</span><span>day</span></h2>
    <div class="meal" id="friday-1">
      <button class="add-button">+</button>
    </div>
    <div class="meal" id="friday-2">
      <button class="add-button">+</button>
    </div>
    <div class="meal" id="friday-3">
      <button class="add-button">+</button>
    </div>
  </div>
  <div>
    <h2>S<span>at</span><span>urday</span></h2>
    <div class="meal" id="saturday-1">
      <button class="add-button">+</button>
    </div>
    <div class="meal" id="saturday-2">
      <button class="add-button">+</button>
    </div>
    <div class="meal" id="saturday-3">
      <button class="add-button">+</button>
    </div>
  </div>
  <div>
    <h2>Su<span>n</span><span>day</span></h2>
    <div class="meal" id="sunday-1">
      <button class="add-button">+</button>
    </div>
    <div class="meal" id="sunday-2">
      <button class="add-button">+</button>
    </div>
    <div class="meal" id="sunday-3">
      <button class="add-button">+</button>
    </div>
  </div>
</div>

<button class="btn btn-primary" id="create-list">Create Shopping List</button>

{{!-- This div will be a modal that contains a list of the saved recipes. It will appear when an add or edit button is
clicked and disappear when a recipe is selected from the list. --}}
<div class="hide modal" id="recipes">
  <div class="modal-content">
    {{#each fixedRecipeData as |recipe|}}
    <button class="select-button" id="{{id}}" value="{{ingredients}}">{{title}}</button><br><br>
    {{/each}}
  </div>


  {{!-- TEST ITEMS
  <p>Item</p>
  <p>Item</p>
  <p>Item</p>
  <p>Item</p> --}}
</div>

<div class="hide" id="shopping-list">

</div>

<script src="/js/meal.js"></script>