{{!-- THIS WILL BE WHERE THE MAIN USER HOMEPAGE IS LOCATED --}}
<div class="grid-container">
      <div>
        <h2>
          M<span>on<span>day</span></span>
        </h2>
        <button>+</button>
        <div class="meal">
          <p>Meal you added</p>
          <footer>
            <button>Edit</button>
            <button>Delete</button>
          </footer>
        </div>
      </div>
      <div>
        <h2>T<span>ue<span>sday</span></span></h2>
        <button>+</button>
        <div class="meal">
          <p>Meal you added</p>
          <footer>
            <button>Edit</button>
            <button>Delete</button>
          </footer>
        </div>
        <div class="meal">
          <p>Meal you added</p>
          <footer>
            <button>Edit</button>
            <button>Delete</button>
          </footer>
        </div>
      </div>
      <div>
        <h2>W<span>ed<span>nesday</span></span></h2>
        <button>+</button>
        <div class="meal">
          <p>Meal you added</p>
          <footer>
            <button>Edit</button>
            <button>Delete</button>
          </footer>
        </div>
      </div>
      <div>
        <h2>Th<span>u<span>rsday</span></span></h2>
        <button>+</button>
        <div class="meal">
          <p>Meal you added</p>
          <footer>
            <button>Edit</button>
            <button>Delete</button>
          </footer>
        </div>
      </div>
      <div>
        <h2>F<span>ri<span>day</span></span></h2>
        <button>+</button>
        <div class="meal">
          <p>Meal you added</p>
          <footer>
            <button>Edit</button>
            <button>Delete</button>
          </footer>
        </div>
      </div>
      <div>
        <h2>S<span>at<span>urday</span></span></h2>
        <button>+</button>
        <div class="meal">
          <p>Meal you added</p>
          <footer>
            <button>Edit</button>
            <button>Delete</button>
          </footer>
        </div>
      </div>
      <div>
        <h2>Su<span>n<span>day</span></span></h2>
        <button>+</button>
        <div class="meal">
          <p>Meal you added</p>
          <footer>
            <button>Edit</button>
            <button>Delete</button>
          </footer>
        </div>
      </div>
    </div>