{{!-- THIS WILL BE WHERE THE MAIN USER HOMEPAGE IS LOCATED --}}
<div class="grid-container">
      <div>
        <h2>
          M<span>on<span>day</span></span>
        </h2>
        <button>+</button>
        <div class="meal">
          <p>Meal you added</p>
          <footer>
            <button>Edit</button>
            <button>Delete</button>
          </footer>
        </div>
        <button>+</button>
      </div>
      <div>
        <h2>T<span>ue</span><span>sday</span></h2>
        <button>+</button>
        <div class="meal">
          <p>Meal you added</p>
          <footer>
            <button>Edit</button>
            <button>Delete</button>
          </footer>
        </div>
      </div>
      <div>
        <h2>W<span>ed</span><span>nesday</span></h2>
        <button>+</button>
        <div class="meal">
          <p>Meal you added</p>
          <footer>
            <button>Edit</button>
            <button>Delete</button>
          </footer>
        </div>
      </div>
      <div>
        <h2>Th<span>u</span><span>rsday</span></h2>
        <button>+</button>
        <div class="meal">
          <p>Meal you added</p>
          <footer>
            <button>Edit</button>
            <button>Delete</button>
          </footer>
        </div>
      </div>
      <div>
        <h2>F<span>ri</span><span>day</span></h2>
        <button>+</button>
        <div class="meal">
          <p>Meal you added</p>
          <footer>
            <button>Edit</button>
            <button>Delete</button>
          </footer>
        </div>
      </div>
      <div>
        <h2>S<span>at</span><span>urday</span></h2>
        <button>+</button>
        <div class="meal">
          <p>Meal you added</p>
          <footer>
            <button>Edit</button>
            <button>Delete</button>
          </footer>
        </div>
      </div>
      <div>
        <h2>Su<span>n</span><span>day</span></h2>
        <button>+</button>
        <div class="meal">
          <p>Meal you added</p>
          <footer>
            <button>Edit</button>
            <button>Delete</button>
          </footer>
        </div>
      </div>
    </div>