<div>
    <button class="btn btn-primary" id="download">Download</button>
</div>
<div>
    <div id="DOCID">
        <h1>TITLE OF RECIPE</h1>
        <p>INGREDIENT LIST</p>
        <p>INSTRUCTIONS</p>
    </div>
</div>

<script src="./js/pdf.js"></script>