{{!-- THIS WILL BE WHERE THE USER CAN VIEW AND ORGANIZE THEIR SAVED RECIPES --}}
{{!-- MUST INCLUDE FUNCTIONALITY TO REMOVE FROM SAVED RECIPES --}}

<section>
        <div class="saved-rendered">
         
        {{#each fixedRecipeData as |recipe|}}
        {{> saved-recipes-card }}
        {{/each}}
    
          <button id="saved-remove">Delete</button>
        </div>
      </section>


 <script src="/js/saved.js"></script>

{{!-- <div>
    {{> render-single-recipe}}
    <button class="btn btn-primary" id="remove">Remove</button>
</div> --}}