{{!-- THIS WILL BE WHERE THE USER CAN VIEW AND ORGANIZE THEIR SAVED RECIPES --}}
{{!-- MUST INCLUDE FUNCTIONALITY TO REMOVE FROM SAVED RECIPES --}}

<div>
    <h1>Saved Recipe List</h1>
    <ul id="list">
        <a href>
            <li>245: Sample Item</li>
        </a>
        <a href>
            <li>1086: Sample Item 2</li>
        </a>
    </div>
</div>

 <script src="./js/saved.js"></script>

{{!-- <div>
    {{> render-single-recipe}}
    <button class="btn btn-primary" id="remove">Remove</button>
</div> --}}