{{!-- THIS WILL BE WHERE THE USER IS REDIRECTED WHEN THEY GO TO ADD A RECIPE TO THE DB --}}

  <section>
        <div class="add-container">
            <form>
                <label for="title">Title: </label>
                <textarea rows="2" cols="50" name="title"></textarea><br><br>
                <label for="ingredients">Ingredients: </label>
                <textarea rows="6" cols="50" name="ingredients" placeholder="Please use a comma to seperate ingredients"></textarea><br><br>
                <label for="instructions">Instructions: </label>
                <textarea rows="8" cols="50" name="instructions"></textarea>
                <br><br>
                <input type="submit" value="Add Recipe">
              </form>
        </div>
        <div class="add-render">
            <p>All the recipes that were added will render here.</p>
        </div>
    </section>

  <script src="/js/newRecipe.js"></script>