{{!-- THIS WILL BE WHERE THE USER IS REDIRECTED WHEN THEY GO TO ADD A RECIPE TO THE DB --}}

  <div class="login-card">
    <h2 class="page-title">Add your recipe</h2>
    <form class="form recipe-form">
      <div class="form-group">
        <label for="recipe-title">Title:</label>
        <input class="form-input" type="text" id="recipe-title" />
      </div>
      <div class="form-group">
        <label for="recipe-instructions">Instructions:</label>
        <input class="form-input" type="text" id="recipe-instructions" />
      </div>
      <div class="form-group">
        <label for="recipe-ingredients">Ingredients:</label>
        <input class="form-input" type="text" id="recipe-ingredients" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
    <div class="hide" id="success">
        <p>Recipe successfully added!</p>
      </div>
  </div>

  <script src="./js/newRecipe.js"></script>