{{!-- THIS WILL BE WHERE THE USER IS REDIRECTED WHEN THEY GO TO ADD A RECIPE TO THE DB --}}

  <section>
        <div class="add-container">
            <form class="recipe-form">
                <label for="title">Title: </label>
                <input id="title" name="title">                
                <label for="ingredients">Ingredients: </label>
                <textarea id="ingredients" name="ingredients" placeholder="Please use a comma to separate ingredients..."></textarea>
                <label for="instructions">Instructions: </label>
                <textarea id="instructions" name="instructions"></textarea>
                <input type="submit" value="Add Recipe">
              </form>
            <div class="hide" id="success">
              <p class="recipe-style">Your recipe has been added successfully!</p>
              <p class="recipe-style">Thank you very much for you submission.</p>
            </div>
        </div>
       
    </section>

  <script src="/js/newRecipe.js"></script>