{{!-- THIS WILL BE WHERE THE USER IS REDIRECTED WHEN THEY GO TO ADD A RECIPE TO THE DB --}}

  <section>
        <div class="add-container">
            <form>
                <label for="title">Title: </label>
                <input id="title" name="title">                
                <label for="ingredients">Ingredients: </label>
                <textarea id="ingredients" name="ingredients" placeholder="Please use a comma to seperate ingredients"></textarea>
                <label for="instructions">Instructions: </label>
                <textarea id="instructions" name="instructions"></textarea>
                <input type="submit" value="Add Recipe">
              </form>
        </div>
        <div class="add-render">
            <div>content will go here and be constrained by the add/render div</div>
        </div>
    </section>

  <script src="/js/newRecipe.js"></script>